.burger-button {
  display: none;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.sidebar {
  width: 40%;
  border-right: 1px solid black;
}

.list {
  list-style: 'none';
  padding: 20px;
}

@media (max-width: 700px) {
  .sidebar {
    border-right: none;
  
  .burger-button {
    display: block;
  }
  .list {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 2;
    margin: 0;
  }
}
}

@media (min-width: 701px) {
  .burger-button {
    display: none;
  }
  .list {
    display: block !important;
  }
}